@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: oklch(0.985 0.001 106.423);
	--color-gray-100: oklch(0.97 0.001 106.424);
	--color-gray-200: oklch(0.923 0.003 48.717);
	--color-gray-300: oklch(0.869 0.005 56.366);
	--color-gray-400: oklch(0.709 0.01 56.259);
	--color-gray-500: oklch(0.553 0.013 58.071);
	--color-gray-600: oklch(0.444 0.011 73.639);
	--color-gray-700: oklch(0.374 0.01 67.558);
	--color-gray-800: oklch(0.268 0.007 34.298);
	--color-gray-900: oklch(0.216 0.006 56.043);
	--color-gray-950: oklch(0.147 0.004 49.25);

	--color-primary-50: oklch(0.982 0.018 155.826);
	--color-primary-100: oklch(0.962 0.044 156.743);
	--color-primary-200: oklch(0.925 0.084 155.995);
	--color-primary-300: oklch(0.871 0.15 154.449);
	--color-primary-400: oklch(0.792 0.209 151.711);
	--color-primary-500: #F45D22;
	--color-primary-600: #E04F1A;
	
	--font-body: 'Inter', sans-serif;
	--font-display: 'Inter', sans-serif;
}

@layer base {
	body {
		font-family: var(--font-body);
		@apply text-gray-900 antialiased;
	}
}

.container-custom {
	@apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
